#mapSection {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 50%;
}

#map {
    margin: 10px auto;
    border-radius: 15px;
    width: 80%;
    height: 60vh;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
}
.tooltip strong{
    margin: 10px;
    color: rgb(75, 75, 177);
    font-family: sans-serif;
}
